.App{
  min-height: 100vh;
  width: 100%;
  margin: 0;
  background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}


html, body, #root {
  height: 100%;
  margin: 0;
} 